@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  background: #111827;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
}
